@media(max-width:786px){
 
header {
  width: 100%;
}

  .side-contents {
    display: none;
    position: static;
    width: 0%;
  }

  .sidebar {
    display: none;
    width: 0%;
    position: static;
  }

  .wrapper {
    width: 100%;
  }

  .contents {
    width: 100%;
  }

  img {
    width: 100%;
  }
  
  .contents-item {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .brand-contents {
    flex-direction: column;
    margin: 0 auto;
  }

  .project-item {
   width: 60%;
    flex-direction: column;
    margin: 0 auto;
  }

  .project-item img {
    width: 100%;
    object-fit: cover;
  }
  
  footer {
    width: 100%;
  }

  footer p {
    text-align: center;
  }

}

@media(min-width:780px) {
  header {
    display: none;
  }
}
